@{
    Layout = null;
}

@*
    组件模板页面访问：
    http://www.layui-vue.com/zh-CN/components/button
*@
@{
    Layout = null;
    System.Collections.Hashtable ddd = ViewBag.d;
    var title = "";
    if (ddd.ContainsKey("htmltitle"))
    {
        title = ddd["htmltitle"].ToString();
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        @title
    </title>
    <meta charset="UTF-8" />


    <link rel="stylesheet" href="/vuelib/layui-vue/umd/index.css" />

    <script src="/vuelib/axios.min.js"></script>
    <script src="/vuelib/dist_vue.js"></script>
    <script src="/vuelib/layui-vue/umd/index.js"></script>
    <script src="/vuelib/echarts.min.js"></script>
</head>
<body>

    <div id="app">
    </div>
    <style>
        .container-demo {
            width: 100%;
            min-height: 500px;
            /*background: #eee;*/
        }

        .card-container {
            background: whitesmoke;
            padding: 8px;
        }

        .form-item-mg {
            margin-bottom: 0px !important;
        }
    </style>

    <style id="ocss" type="text/css"></style>
    <script>
        const layer = LayuiVue.layer
        const { ref, reactive, resolveComponent, onMounted, onUnmounted,h } = Vue;
        //get请求
        function get(url) {
            return axios.get(url)
        }
        //post请求
        function post(url, data, config) {
            return axios.post(url, data, config)
        }

        //返回请求参数（比如url参数，）
        /*
            比如浏览器请求：
                http://xxx/po?module=a&a=100
            js取得a方式：
               from().a
               from()的内容 = {module:a,a:100}
        */
        function from(){
            return @Json.Serialize(ViewBag.d)
        }

        //设置Echart
        /*
            id 是 html的id标签值
            option 是echart 的参数
        */
        function Echart(id, option) {
            //let Chart = echarts.init(document.getElementById('test1'));
            let Chart = echarts.init(document.getElementById(id));
            Chart.clear();
            Chart.setOption(option);
        }

        //设置css样式
        function ocss(s){
            if(s)
            document.getElementById("ocss").innerHTML = s;
        }

    </script>



    <script type="module">

        import omodule from '/vuelib/module/@(this.ViewBag.module).js'
        ocss(omodule.templatecss)
        const app = Vue.createApp(omodule);
        app.use(LayuiVue);
        app.mount("#app");
    </script>
</body>
</html>